.App{
  min-height: 100vh;
  width: 100%;
}

.profile{
  background: rgb(26,95,158);
  background: linear-gradient(90deg, rgba(26,95,158,1) 0%, rgb(122, 202, 255) 50%, rgb(130, 204, 254)100%);
  min-height: 50vh;
  width: 100%;
  position: relative;
}

.profile .user-info {
  font-weight: bold;
  /* margin-top: 90px; */
  /* color: rgb(0, 94, 225); */
  display: flex;
  flex-direction: row;
  margin: 90px 50px 0 50px;
}

.profile .profile-img{
  width: 160px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  bottom: -65px;
  margin: 0 46vw;
}

